!!!
%html
	%head
		%title Fake Twitter V2
		%link{:href => "/bootstrap.min.css", :type => "text/css", :rel => "stylesheet"}
		%link{:href => "/bootstrap-responsive.min.css", :type => "text/css", :rel => "stylesheet"}
	%body 
		.row
			.span8.offset2
				%h1 Welcome to Fake Twitter
				-if !flash[:notice].nil?
					.alert=flash[:notice]
				%ul.nav.nav-pills 
					%li 
						%a{:href => "/"} Home 
					%li 
						%a{:href => "/profile_list"} Users		
					-if current_user.nil? 
						%li 
							%a{:href => "/users/sign_up"} Sign Up
						%li 
							%a{:href => "/users/sign_in"} Sign In	
					-elsif	 	 
						%li 
							%a{:href => "/users/#{current_user.id.to_s}"} Profile		
						%li 
							%a{:href => "/sign_out"} Sign Out 	
					%form{:class => "navbar-search pull-right", :method => "post", :action => "/search_results"}
						%input{:type => "text", :class => "search_query", :placeholder => "Search Tweets", :name => "search_query"}
			.span10.offset2
				=yield 			


