%h1=@user.full_name 
%h4 Bio 
=@user.bio
%br
%h4 URL 
=@user.url
%br
%h4 Location
=@user.location


-if current_user == nil 

-elsif current_user.id == @user.id
	%h4 Compose your tweet
	%form{:action => "/users/#{@user.id.to_s}", :method => "post"}
		%textarea{:placholder => "Compose your tweet", :name => "tweet", :maxlength => "140", :cols => "100", :rows => "6"}
		%br
		%input{:type => "submit", :class => "btn"}


